{% extends "shop_base.html" %}
{% load category_tags %}

{% block shop_content %}
<!-- Product Catagories Area Start -->
<div class="products-catagories-area clearfix">
    <div class="amado-pro-catagory clearfix">

        {% category_tree as tree_categories %}
        {% if tree_categories %}
        {% for tree_category in tree_categories %}
        <!-- Single Catagory -->
        <div class="single-products-catagory clearfix">
            <a href="{{ tree_category.url }}">
                <img src="{{ tree_category.image.url }}" alt="">
                {% comment %} <img src="{% static 'theme/img/bg-img/1.jpg' %}" alt=""> {% endcomment %}
                <!-- Hover Content -->
                <div class="hover-content">
                    <div class="line"></div>
                    {% comment %} <p>From $180</p> {% endcomment %}
                    <h4>{{ tree_category.name }}</h4>
                </div>
            </a>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>
<!-- Product Catagories Area End -->
{% endblock %}